# Caminho dos dados (Camila usava local)
DATA_PATH=./data/consultas-historicas.csv

# Caminho do modelo
MODEL_PATH=./data/model.pkl

# MLflow
MLFLOW_TRACKING_URI=sqlite:///data/mlflow.db
MLFLOW_EXPERIMENT_NAME=saudeja-no-show
